Die roll simulator/__pycache__/art.cpython-311.pyc
Die roll simulator/__pycache__/art.cpython-311.pyc
.vscode/settings.json
CS50/Unit Tests/__pycache__/calculator.cpython-311.pyc
.gitignore
CS50/.DS_Store
tempCodeRunnerFile.py
helloworld_rust/target/.rustc_info.json
helloworld_rust/target/.rustc_info.json
.DS_Store
.vscode
.venv
test_files
